[init]
	defaultBranch = main
[core]
	editor = vim
[color]
	ui = true
[commit]
	template = ~/.gitmessage.txt
[url "https://github.com"]
	insteadOf = gh:
[url "https://gitlab.com"]
	insteadOf = gl:
[user]
	name = Jonas McClure
	email = jonmcclu@proton.me
	signingkey = ~/.ssh/id_rsa
[gpg]
	format = ssh
[commit]
	gpgsign = true
